<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageSender" class="pl.coderslab.beans.MessageSender">
        <constructor-arg ref="messageSender"/>
    </bean>

    <bean id="messageService" class="pl.coderslab.beans.EmailService"/>
    <bean id="emailService" class="pl.coderslab.beans.EmailService"/>
    <bean id="helloWorld" class="pl.coderslab.beans.HelloWorld">
        <!--<constructor-arg value="Witaj Świecie" name="message"/> !-->
        <property value="Witaj Świecie - metoda dostępowa" name="message"/>

    </bean>

</beans>